@media (min-width: 300px) and (max-width: 400px){
    body {
        font-size: 0.9em;
        margin: 10px 10px;
    }
    h1 {
        font-size: medium;
    }
    h2 {
        font-size: medium;
    }

    img {
        max-width: 100%;
    }

    figure {
        margin: 30px 0px;
    }
}

@media (min-width: 800px){
    body{
        background-color: grey;
        font-size: 1.2em;
        margin: 20px 20px;
    }
    .conteiner{
        display: flex;
        flex-direction: row;
    }
    img {
        width: 100%;
    }
}

@media (min-width: 1300px) and (max-width: 1400px){
    body{
        background-color: wheat;
        font-size: 1.5em;
        margin: 30px 30px;
    }
    .conteiner{
        display: flex;
        flex-direction: row;
    }
    img {
        width: 100%;
    }
}